/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  display: flex;
  background-color: #2c3e50;
  flex-direction: row;
  height:70px
  
}


.logo{
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
}

header h1{
 margin-left: 200px;
 color: white;
}


#container {
  display: flex;
  height: calc(100vh - 60px);
}

/* Sidebar styling */
#sidebar {
  display: flex;
  flex-direction: column;
  background-color: #34495e;
  padding: 10px;
  width: 60px;
  align-items: center;
}

.sidebar-button {
  background-color: #F15946;
  font-weight: bold;
  color: white;
  border: none;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.sidebar-button.active,
.sidebar-button:hover {
  background-color: #F9C22E;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

#fileManager {
  transition: all 0.3s ease;
  display: none; /* Initially hidden */
}

/* Panel styling */
#fileManager {
  width: 200px;
  padding: 10px;
  background-color: #34495e;;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  border: 2px solid white
}
#fileManager h2{
  color:white
}
#blocklyArea {
  flex-grow: 1;
  padding: 10px;
  transition: width 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
  overflow: hidden; /* Prevent overflow */
}

#blocklyDiv {
  width: 100%;
  height: 100%;
}

/* Resizer */
#resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

#resizer:hover {
  background-color: #aaa;
}

#rightPane {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #34495e;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Ensure scroll if content overflows */
}

/* Full height for sections when they are displayed */
#previewSection {
  width: 100%;
  height: calc(100% - 50px); /* Leave space for the buttons */
  display: none; /* Hidden by default */
}

#previewSection h2{
  color: white;
}

#generatedCodeSection {
  width: 100%;
  height: calc(100% - 50px); /* Leave space for the buttons */
}

#generatedCodeSection h2{
  color:white
}

#generatedCodeSection.active,
#previewSection.active {
  display: block;
}

#previewSection iframe {
  width: 100%;
  height: 100%;
  background-color: white;
}

#generatedCode {
  width: 100%;
  height: 100%;
}

#exportButton {
  background-color: #F15946;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

#exportButton:hover {
  background-color: #F9C22E;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Aligning buttons */
#toggleButtons {
  text-align: center;
  margin-bottom: 10px;
}

.toggle-btn {
  background-color: #F15946;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom:20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.toggle-btn:hover {
  background-color: #F9C22E;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.toggle-btn.active {
  background-color: #F9C22E; /* green for active button */
}

.file-item {
  display: block;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.file-item:hover {
  background-color: #e1e1e1;
}

.file-item.active {
  background-color: #d1e7dd;
  font-weight: bold;
  border-color: #0f5132;
}
/* Toolbox background */
.blocklyToolboxDiv {
  background-color: #2c3e50; /* Dark background for toolbox */
  border-right: 2px solid #34495e;
  color: #ecf0f1; /* Default text color */
}

/* Style each category row */
.blocklyTreeRow {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 5px; /* Increase spacing between each item */

}

/* Change category name styling */
.blocklyTreeLabel {
  font-weight: bold;
  font-size: 14px;
  color: #ecf0f1; /* Category text color */
  margin-left: 35px;
}

/* Style for hover effect on category */
.blocklyTreeRow:hover {
  background-color: #34495e; /* Darker shade on hover */
}

/* Change the flyout background color */
.blocklyFlyoutBackground {
  fill: #34495e !important; /* Darker background for the flyout */
}
.blocklyText {
  font-weight: bold;
}
.blocklyFlyoutLabelText {
  fill: white !important;
  font-weight: bold !important;
  font-size: 14px !important;
}
#blockly-1 {
  background-image: url('./assets/categories/html.png') !important; /* Add your icon path */
  background-size: 33px 34px !important;
  background-repeat: no-repeat;

}
#blockly-d {
  background-image: url('./assets/categories/attributes.png') !important; /* Add your icon path */
  background-size: 31px 33px; /* Adjust size as needed */
  background-repeat: no-repeat;
}

#blockly-k {
  background-image: url('./assets/categories/css.png') !important; /* Add your icon path */
  background-size: 35px 32px; /* Adjust size as needed */
  background-repeat: no-repeat;
  align-items: center !important;
 
}
#blockly-t {
  background-image: url('./assets/categories/js.png') !important; /* Add your icon path */
  background-size: 30px 33px; /* Adjust size as needed */
  background-repeat: no-repeat;
  align-self: center !important;
}

.blocklyTreeIcon{
  display: none !important;
}

/* HTML Category - Selected */
.blocklyTreeRow.blocklyTreeSelected#blockly-1 {
  background-color: #0ACDFF !important; 
}

/* CSS Category - Selected */
.blocklyTreeRow.blocklyTreeSelected#blockly-k {
  background-color:  #A5BE00 !important;  
}

/* JavaScript Category - Selected */
.blocklyTreeRow.blocklyTreeSelected#blockly-t {
  background-color: #F85E00 !important 
}

/* Attributes Category - Selected */
.blocklyTreeRow.blocklyTreeSelected#blockly-d {
  background-color: #FFAB19 !important; 
}
.blocklyTreeRow{
  margin-left: 10px !important;
}
#blockly-1, #blockly-d, #blockly-k, #blockly-t {
  padding: 5px;
  border-radius: 6px;
  background-color: #2c3e50;
  background-image: linear-gradient(to top, #2c3e50, #34495e); /* Gradient for depth */
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3), /* Inner shadow */
              0 4px 6px rgba(0, 0, 0, 0.1); /* Outer shadow */
  border: 1px solid #444b54;
  transition: transform 0.2s ease;
  height:25px
}
/* Slight pop-up effect on hover */
#blockly-1:hover, #blockly-d:hover, #blockly-k:hover, #blockly-t:hover {
  transform: translateY(-2px); /* Pop-up effect */
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}
#blockly-1 {
  background-image: linear-gradient(145deg, #0ACDFF, #0099CC); /* Light to dark gradient */
}
#blockly-d {
  background-image: linear-gradient(145deg, #FFAB19, #CC8800);
}
#blockly-k {
  background-image: linear-gradient(145deg, #A5BE00, #7FA800);
}
#blockly-t {
  background-image: linear-gradient(145deg, #F85E00, #CC4800);
}

#blockly-1, #blockly-d, #blockly-k, #blockly-t {
  border-top: 2px solid rgba(255, 255, 255, 0.2); /* Light edge on top */
  border-left: 2px solid rgba(255, 255, 255, 0.2); /* Light edge on left */
  border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* Dark edge on bottom */
  border-right: 2px solid rgba(0, 0, 0, 0.2); /* Dark edge on right */
  border-radius: 6px;
}

#blockly-1:hover, #blockly-d:hover, #blockly-k:hover, #blockly-t:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), /* Outer shadow */
              0 0 8px rgba(255, 255, 255, 0.5); /* Soft glow on hover */
}

